{
  "openapi": "3.0.0",
  "info": {
    "title": "Customer API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://sandbox-api.fedapay.com/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/transactions": {
      "post": {
        "summary": "Create a new transaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "Description of the transaction.",
                    "required": true
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Amount of the transaction.",
                    "required": true
                  },
                  "currency": {
                    "type": "object",
                    "description": "Currency information.",
                    "properties": {
                      "iso": {
                        "type": "string",
                        "description": "The ISO code of the currency (e.g., XOF)",
                        "required": true
                      }
                    }
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "URL to receive transaction updates.",
                    "format": "url"
                  },
                  "customer": {
                    "type": "object",
                    "description": "Customer information.",
                    "properties": {
                      "firstname": {
                        "type": "string",
                        "description": "Customer's first name."
                      },
                      "lastname": {
                        "type": "string",
                        "description": "Customer's last name."
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Customer's email address."
                      },
                      "phone_number": {
                        "type": "object",
                        "description": "Customer's phone number.",
                        "properties": {
                          "number": {
                            "type": "integer",
                            "description": "Phone number without national prefix."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country code."
                          }
                        }
                      }
                    }
                  },
                  "mode": {
                    "type": "string",
                    "description": "Transaction mode (e.g., 'standard', 'mobile_money')."
                  }
                },
                "required": ["description", "amount", "currency"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Transaction ID."
                    },
                    "reference": {
                      "type": "string",
                      "description": "Transaction reference."
                    },
                    "amount": {
                      "type": "integer",
                      "description": "Transaction amount."
                    },
                    "description": {
                      "type": "string",
                      "description": "Transaction description."
                    },
                    "callback_url": {
                      "type": "string",
                      "description": "Transaction callback URL."
                    },
                    "status": {
                      "type": "string",
                      "description": "Transaction status (e.g., 'pending', 'approved', 'canceled')."
                    },
                    "customer_id": {
                      "type": "integer",
                      "description": "Customer ID associated with the transaction."
                    },
                    "currency_id": {
                      "type": "integer",
                      "description": "Currency ID associated with the transaction."
                    },
                    "mode": {
                      "type": "string",
                      "description": "Transaction mode."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Additional metadata related to the transaction."
                    },
                    "commission": {
                      "type": "integer",
                      "description": "Transaction commission."
                    },
                    "fees": {
                      "type": "integer",
                      "description": "Transaction fees."
                    },
                    "fixed_commission": {
                      "type": "integer",
                      "description": "Fixed commission applied to the transaction."
                    },
                    "amount_transferred": {
                      "type": "integer",
                      "description": "Amount transferred to the beneficiary."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of transaction creation."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of last transaction update."
                    },
                    "approved_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of transaction approval."
                    },
                    "canceled_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of transaction cancellation."
                    },
                    "declined_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of transaction decline."
                    },
                    "refunded_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of transaction refund."
                    },
                    "transferred_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of transaction transfer."
                    },
                    "deleted_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of transaction deletion."
                    },
                    "last_error_code": {
                      "type": "string",
                      "description": "Last error code encountered during the transaction."
                    },
                    "custom_metadata": {
                      "type": "object",
                      "description": "Custom metadata associated with the transaction."
                    },
                    "amount_debited": {
                      "type": "integer",
                      "description": "Amount debited from the payer."
                    },
                    "receipt_url": {
                      "type": "string",
                      "format": "url",
                      "description": "URL to the transaction receipt."
                    },
                    "payment_method_id": {
                      "type": "integer",
                      "description": "Payment method ID used for the transaction."
                    },
                    "sub_accounts_commissions": {
                      "type": "array",
                      "description": "Commissions applied to sub-accounts."
                    },
                    "transaction_key": {
                      "type": "string",
                      "description": "Unique key associated with the transaction."
                    },
                    "merchant_reference": {
                      "type": "string",
                      "description": "Merchant reference provided for the transaction."
                    },
                    "account_id": {
                      "type": "integer",
                      "description": "Account ID associated with the transaction."
                    },
                    "balance_id": {
                      "type": "integer",
                      "description": "Balance ID associated with the transaction."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "422": {
            "description": "Validation error."
          }
        }
      }
    }
  }
}
