{
  "openapi": "3.0.0",
  "info": {
    "title": "Customer API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://sandbox-api.fedapay.com/v1"
    }
   ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/customers": {
      "post": {
        "summary": "Create a new customer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Customer's email address."
                  },
                  "phone_number": {
                    "type": "object",
                    "description": "Customer's phone number.",
                    "properties": {
                      "number": {
                        "type": "integer",
                        "description": "Phone number without national prefix."
                      },
                      "country": {
                        "type": "string",
                        "description": "Country code."
                      }
                    }
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Customer's first name."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Customer's last name."
                  }
                },
                "anyOf": [
                  {
                    "required": [
                      "email"
                    ]
                  },
                  {
                    "required": [
                      "phone_number"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Customer ID."
                    },
                    "firstname": {
                      "type": "string",
                      "description": "Customer's first name."
                    },
                    "lastname": {
                      "type": "string",
                      "description": "Customer's last name."
                    },
                    "full_name": {
                      "type": "string",
                      "description": "Customer's full name."
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "Customer's email address."
                    },
                    "account_id": {
                      "type": "integer",
                      "description": "ID of the customer's account."
                    },
                    "phone_number_id": {
                      "type": "integer",
                      "description": "ID of the customer's phone number."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of customer creation."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of last customer update."
                    },
                    "deleted_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of customer deletion (if applicable)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "422": {
            "description": "Validation error."
          },
          "401": {
            "description": "Unauthorized. Provide a valid secret key."
          }
        },
        "x-codeSamples": [
          {
            "lang": "Java",
            "source": "ruby\nrequire 'json'\nrequire 'net/http'\n\n# Replace with your actual API URL\napi_url = 'https://api.example.com/customers'\n# Replace with your actual secret key\nsecret_key = 'your_secret_key'\n\n# Sample customer data\ncustomer_data = {\n  \"firstname\": \"John\",\n  \"lastname\": \"Doe\",\n  \"email\": \"john.doe@example.com\"\n}\n\nuri = URI(api_url)\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(uri)\nrequest['Content-Type'] = 'application/json'\nrequest['Authorization'] = \"Bearer #{secret_key}\"\nrequest.body = customer_data.to_json\n\nresponse = http.request(request)\n\n# Check the response status\nif response.code == '201'\n  puts \"Customer created successfully!\"\n  # Parse the response body (if needed)\n  response_body = JSON.parse(response.body)\n  puts response_body\nelse\n  puts \"Error creating customer: #{response.code}\"\n  puts response.body\nend\n"
          }
        ]
      },
      "get": {
        "summary": "Get a list of customers.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Customer ID."
                      },
                      "firstname": {
                        "type": "string",
                        "description": "Customer's first name."
                      },
                      "lastname": {
                        "type": "string",
                        "description": "Customer's last name."
                      },
                      "full_name": {
                        "type": "string",
                        "description": "Customer's full name."
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Customer's email address."
                      },
                      "account_id": {
                        "type": "integer",
                        "description": "ID of the customer's account."
                      },
                      "phone_number_id": {
                        "type": "integer",
                        "description": "ID of the customer's phone number."
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Date and time of customer creation."
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Date and time of last customer update."
                      },
                      "deleted_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Date and time of customer deletion (if applicable)."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Provide a valid secret key."
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "summary": "Get a customer by ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Customer ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Customer retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Customer ID."
                    },
                    "firstname": {
                      "type": "string",
                      "description": "Customer's first name."
                    },
                    "lastname": {
                      "type": "string",
                      "description": "Customer's last name."
                    },
                    "full_name": {
                      "type": "string",
                      "description": "Customer's full name."
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "Customer's email address."
                    },
                    "account_id": {
                      "type": "integer",
                      "description": "ID of the customer's account."
                    },
                    "phone_number_id": {
                      "type": "integer",
                      "description": "ID of the customer's phone number."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of customer creation."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of last customer update."
                    },
                    "deleted_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of customer deletion (if applicable)."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Customer not found."
          },
          "401": {
            "description": "Unauthorized. Provide a valid secret key."
          }
        }
      },
      "put": {
        "summary": "Update a customer by ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Customer ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Customer's email address."
                  },
                  "phone_number": {
                    "type": "object",
                    "description": "Customer's phone number.",
                    "properties": {
                      "number": {
                        "type": "integer",
                        "description": "Phone number without national prefix."
                      },
                      "country": {
                        "type": "string",
                        "description": "Country code."
                      }
                    }
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Customer's first name."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Customer's last name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Customer ID."
                    },
                    "firstname": {
                      "type": "string",
                      "description": "Customer's first name."
                    },
                    "lastname": {
                      "type": "string",
                      "description": "Customer's last name."
                    },
                    "full_name": {
                      "type": "string",
                      "description": "Customer's full name."
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "Customer's email address."
                    },
                    "account_id": {
                      "type": "integer",
                      "description": "ID of the customer's account."
                    },
                    "phone_number_id": {
                      "type": "integer",
                      "description": "ID of the customer's phone number."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of customer creation."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of last customer update."
                    },
                    "deleted_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of customer deletion (if applicable)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body."
          },
          "404": {
            "description": "Customer not found."
          },
          "401": {
            "description": "Unauthorized. Provide a valid secret key."
          }
        }
      },
      "delete": {
        "summary": "Delete a customer by ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Customer ID."
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted successfully."
          },
          "404": {
            "description": "Customer not found."
          },
          "401": {
            "description": "Unauthorized. Provide a valid secret key."
          }
        }
      }
    }
  }
}